:root {
    --background1: #848db0;
    --background2: #030b26;
    --background3: #030e36;
    --colorerror1: #78281f;
}

.contenedor-form{
    background-color: var(--background1);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 15px;
    margin: 5% 10% 10% 1%;
}
.contenedor-form h1{
    text-align: center;
    padding: 15px
}
.form-renglon-per{
    display: flex;
    flex-direction: row;
    justify-content:center;
    width:100%;
    
}
.form-renglon-per-error{
  width: 60%;
}

.form-renglon-error{
  color: var(--colorerror1);
  display: flex;
  flex-direction: row;
  justify-content:flex-end;
  //width:100%;
  margin: 0 25px 0 0;
  
}

.label-per{
    padding: 15px 15px 5px 15px;
    width: 40%;
    text-align: center
}

.custom-input {
    margin: 10px 15px 0px 10px;
    border-radius: 5px;
    width:90%;
    background-color: var(--background3);
    //background-color: transparent; /* Quita el fondo blanco */
    border: none; /* Quita el recuadro */
    //border-bottom: 1px solid white; /* Agrega una línea blanca debajo */
    color: white; /* Color del texto */
    padding: 5px 5px 5px 15px; /* Espaciado vertical */
    outline: none; /* Quita el contorno azul al enfocar */
  }
  
  .custom-input:focus {
    //border-bottom: 2px solid #ccc; /* Cambia el color de la línea al enfocar (opcional) */
  }

  .boton-per{
    text-align: center;
    margin-top: 25px;
    
  }

  .boton-per button{
    border-radius: 5px;
    background-color: var(--background2);
    padding: 10px 15px;
  }
  

  