@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --backgroundBox: #242424;
  --backgroundBoxSutil: #3d3b3b;
  --backgroundSutil: #ffffff1a;
  --textblue: #3BAAFF;
  --textbluePlaceholder: #9fa6ab;
  --textOrange: #F57B27;
  --textWhite: #ccc;
  --textError: #e01e09;
  --textBlack: #ffffff;
  --textGreen: #4CAF50; /* Verde brillante */
  --textYellow: #5c5519; /* Amarillo cálido */
  --textRed: #8f2e27; /* Rojo suave */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #050708;
    --foreground: #ededed;
    

  }
}

body {
  margin: 0;
  padding: 0;
  width: 100%; /* Ajusta el ancho del body */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
  line-height: 1.5;
  background-color: var(--background, #fff); /* Usa colores CSS variables si lo deseas */
  color: var(--foreground, #000);
}

body2 {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
 
}

.font-sm{
  font-size: 10px !important;
}
.font-sl{
  font-size: 12px !important;
}
.font-sx{
  font-size: 14px !important;
}
.bold {
  font-weight: bold;
}
.roboto{
  font-family: Roboto;
  font-size: 1.2rem;
}
.textblue{
  color: var(--textblue);
}
.text-error{
  color: var(--textError);
}
.text-succes{
  color: var(--textGreen);
}
.text-warning{
  color: var(--textOrange);
}



/* Contenedores */
.full-screen-center {
  width: 100%; 
  height: 100vh; 
  display: flex; 
  justify-content: center; 
  flex-direction: column;
  align-items: center; 
  margin: 0; 
  padding: 0; 
  box-sizing: border-box; /* Asegura que padding no afecte el tamaño total */
}

.container-100 {
  width: 100%;
  margin: 0;
  padding: 0;
}

.container-90 {
  width: 90%;
  margin: 0 auto; /* Centrado horizontal */
  padding: 0;
}

.box-red{
  background:var(--textRed);
  padding: 0.10rem 0.50rem;
  border-radius: 0.20rem;
}
.box-yellow{
  background: var(--textYellow);

}
.box-green{
  background: var(--textGreen);
  padding: 0.10rem 0.50rem;
  border-radius: 0.20rem;
}
.mb-1{
  margin-bottom: 0.7rem;
}


/* Flexbox: Direcciones */
.flex-column {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.flex-row {
  display: flex;
  flex-direction: row; /* Fila */
  flex-wrap: wrap;
}

.flex-form {
  display: flex;
  flex-direction: column; /* Opcional: organiza los elementos en columna */
  justify-content: center;
  align-items: center;
  width: auto; /* Ancho del formulario */
  padding: 20px; /* Espaciado interno */
  position: absolute; /* Posicionamiento absoluto */
  top: 50%; /* Mover al centro verticalmente */
  left: 50%; /* Mover al centro horizontalmente */
  transform: translate(-50%, -50%); /* Ajustar el punto de referencia */
}
/*centrar un form logo o register*/
.flex-center-div { 
  display: flex;
  flex-direction: column; /* Opcional: organiza los elementos en columna */
  justify-content: center;
  align-items: center;
  width: auto; /* Ancho del formulario */
  padding: 20px; /* Espaciado interno */
  position: absolute; /* Posicionamiento absoluto */
  top: 50%; /* Mover al centro verticalmente */
  left: 50%; /* Mover al centro horizontalmente */
  transform: translate(-50%, -50%); /* Ajustar el punto de referencia */
}



/*botones*/
.btn{
  padding: 0.5rem;
  margin: 2rem;
  border-radius: 0.5rem;
  justify-content: center;
  font-weight: 500;
}

/* Flexbox: Justificación */
.justify-center {
  justify-content: center;
}

.justify-flex-end {
  justify-content: flex-end;
}

.justify-flex-start {
  justify-content: flex-start;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.justify-evenly {
  justify-content: space-evenly;
}

/* Flexbox: Alineación */
.align-center {
  align-items: center;
}

.align-flex-start {
  align-items: flex-start;
}

.align-flex-end {
  align-items: flex-end;
}

.align-stretch {
  align-items: stretch;
}

.align-baseline {
  align-items: baseline;
}

/* Flexbox: Espaciado */
.gap-small {
  gap: 0.5rem;
}

.gap-medium {
  gap: 1rem;
}

.gap-large {
  gap: 2rem;
}

/* Uso adicional */
.text-center {
  text-align: center;
}

.full-height {
  height: 100vh;
}

.mb-0{
  margin: 0 0 0.2rem 0;
}

.mb-1{
  margin: 0 0 1rem 0;
}
.mb-2{
  margin: 0 0 2rem 0;
}
.mb-3{
  margin: 0 0 3rem 0;
}
.mx-1{
  margin: 0 0.5rem;
}
.mx-2{
  margin: 0 1rem;
}
.mx-2{
  margin: 0 2rem;
}
.my-1{
  margin: 1rem;
}
.my-2{
  margin: 2rem;
}
.my-3{
  margin: 3rem;
}


.red{
  background: red;
}

.W-100{
  width: 100%;
}
.W-80{
  width: 80%;
}
.W-50{
  width: 50%;
}
.W-30{
  width: 30%;
}
.W-25{
  width: 25%;
}
.text-h1{
  font-size: 1.8rem !important;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}
.text-h3{
  font-size: 0.80rem;;
}

.nameDescripcion{
  font-weight: bold;
}
.nameTitle{
  font-size: 14px;
  color:var(--textblue);
}

.box-line{
  border-top: 2px solid var(--textWhite);
  padding-top: 1rem;
}
.box-line:hover{
  border-top: 2px solid var(--textOrange);
  padding-top: 1rem;
}


/* Responsive Design */
@media (max-width: 768px) {
  .W-50{
    width: 50%;
  }

  .W-25{
    width: 25%;
  }
  .W-30{
    width: 80%;
  }
}



/* Opcional: Estilo para los inputs */
input[type="date"] {
  outline: none; /* Elimina el contorno */
  width: 75px;
  background-color: var(--background);
  //padding: 5px;
  font-size: 8px;
  border: none;
  border-radius: 4px;
}


.textDate{
  font-size: 10px;
  width: 16px;
}

.btn-rango-1{
  font-size: 12px;
  width: 50px;
  color:var(--textblue);
  margin-left: 1rem;
  padding: 0.4rem 0.2rem;
  background-color: var(--background);
  border-radius: 5px;
}
.btn-rango-1:hover{
  color:var(--textOrange);
}
.box-rango{
  background-color: var(--backgroundBoxSutil);
  //border: 1px solid var(--textWhite);
  padding: 0.4rem 0.2rem;
  border-radius: 5px;
}