@tailwind base;
@tailwind components;
@tailwind utilities;

/* Tema oscuro (nuevo) */
:root {
  --background: #121212;        /* Fondo principal oscuro */
  --foreground: #1e1e1e;        /* Elementos secundarios oscuros */
  --backgroundBox: #2d2d2d;     /* Contenedores oscuros */
  --backgroundBoxSutil: #696060; /* Contenedores sutiles oscuros */
  --backgroundSutil: #292727;  /* Transparencias claras sobre oscuro */
  --textblue: #0c87eb;          /* Azul claro vibrante */
  --textbluePlaceholder: #757575;/* Gris azulado para placeholders */
  --textOrange: #f59405;        /* Naranja suave */
  --textWhite: #e0e0e0;         /* Texto gris claro */
  --textError: #f44336;         /* Rojo error vibrante */
  --textBlack: #0d0c0c;         /* Texto blanco (antes negro) */
  --textGreen: #12cc1a;         /* Verde suave */
  --textYellow: #fff176;        /* Amarillo claro */
  --textRed: #e33030;          /* Rojo suave */
}

/* Tema claro (nuevo) */
[data-theme='light'] {
  --background: #ffffff;        /* Fondo principal claro */
  --foreground: #c9ced1;        /* Elementos secundarios blancos */
  --backgroundBox: #c9ced1;     /* Contenedores grises claros */
  --backgroundBoxSutil: #c9ced1;/* Contenedores sutiles claros */
  --backgroundSutil: #f1f3f4; /* Transparencias oscuras sobre claro */
  --textblue: #051b85;          /* Azul intenso */
  --textbluePlaceholder: #9e9e9e;/* Gris para placeholders */
  --textOrange: #851005;        /* Naranja intenso */
  --textWhite: #0a0a0a;         /* Texto gris oscuro */
  --textError: #7d020d;         /* Rojo error */
  --textBlack: #000000;         /* Texto negro */
  --textGreen: #1d8505;         /* Verde intenso */
  --textYellow: #fbc02d;        /* Amarillo vibrante */
  --textRed: #e53935;           /* Rojo intenso */
}

/*
@media (prefers-color-scheme: dark) {
  :root {
    --background: #050708;
    --foreground: #ededed;
  }
}
*/
body {
  margin: 0;
  padding: 0;
  width: 100%; /* Ajusta el ancho del body */

  line-height: 1.5;
  background-color: var(
    --background,
    #fff
  ); /* Usa colores CSS variables si lo deseas */
  //color: var(--foreground, #000);
}

body2 {
  //color: var(--foreground);
  background: var(--background);
}

.d-none {
  display: none;
}

.font-sm {
  font-size: 0.5rem !important;
}
.font-sl {
  font-size: 0.7rem !important;
}
.font-sx {
  font-size: 0.8rem!important;
}
.font-xl {
  font-size: 1.2rem!important;
}
.bold {
  font-weight: bold;
}
.roboto {
  font-family: Roboto;
  font-size: 1.2rem;
}
.textblue {
  color: var(--textblue);
}
.text-error {
  color: var(--textError);
}
.text-succes {
  color: var(--textGreen);
}
.text-warning {
  color: var(--textOrange);
}
.text-white {
  color: var(--textWhite);
}
.text-black {
  color: var(--textBlack);
}





.container-90 {
  width: 90%;
  margin: 0 auto; /* Centrado horizontal */
  padding: 0;
}

.box-red {
  background: var(--textRed);
  padding: 0.1rem 0.5rem;
  border-radius: 0.2rem;
}
.box-yellow {
  background: var(--textYellow);
}
.box-green {
  background: var(--textGreen);
  padding: 0.1rem 0.5rem;
  border-radius: 0.2rem;
}
.mb-1 {
  margin-bottom: 0.7rem;
}

/* Flexbox: Direcciones */
.flex-column {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.flex-row {
  display: flex;
  flex-direction: row; /* Fila */
  flex-wrap: wrap;
}

.flex-form {
  display: flex;
  flex-direction: column; /* Opcional: organiza los elementos en columna */
  justify-content: center;
  align-items: center;
  width: auto; /* Ancho del formulario */
  padding: 20px; /* Espaciado interno */
  position: absolute; /* Posicionamiento absoluto */
  top: 50%; /* Mover al centro verticalmente */
  left: 50%; /* Mover al centro horizontalmente */
  transform: translate(-50%, -50%); /* Ajustar el punto de referencia */
}
/*centrar un form logo o register*/
.flex-center-div {
  display: flex;
  flex-direction: column; /* Opcional: organiza los elementos en columna */
  justify-content: center;
  align-items: center;
  width: auto; /* Ancho del formulario */
  padding: 20px; /* Espaciado interno */
  position: absolute; /* Posicionamiento absoluto */
  top: 50%; /* Mover al centro verticalmente */
  left: 50%; /* Mover al centro horizontalmente */
  transform: translate(-50%, -50%); /* Ajustar el punto de referencia */
}

/*botones*/
.btn {
  padding: 0.5rem;
  margin: 2rem;
  border-radius: 0.5rem;
  justify-content: center;
  font-weight: 500;
}
.btn-out{
  width: 5rem;
  padding: 0.2rem 0.5rem;;
  font-size: 12px;
  font-weight: bold;
  font-family: Roboto;
  border: 2px solid var(--backgroundBox);
  border-radius: 5px;
  background-color: var(--backgroundSutil);
  color: var(--textWhite);

}
.btn-out:hover{
  //color: var(--textOrange);
  background-color: var(--textbluePlaceholder);
  border: 2px solid var(--textBlack);
}

/* Flexbox: Justificación */
.justify-center {
  justify-content: center;
}

.justify-flex-end {
  justify-content: flex-end;
}

.justify-flex-start {
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.justify-evenly {
  justify-content: space-evenly;
}

/* Flexbox: Alineación */
.align-center {
  align-items: center;
}

.align-flex-start {
  align-items: flex-start;
}

.align-flex-end {
  align-items: flex-end;
}

.align-stretch {
  align-items: stretch;
}

.align-baseline {
  align-items: baseline;
}

/* Flexbox: Espaciado */
.gap-small {
  gap: 0.5rem;
}

.gap-medium {
  gap: 1rem;
}

.gap-large {
  gap: 2rem;
}

/* Uso adicional */
.text-center {
  text-align: center;
}

.full-height {
  height: 100vh;
}

.mb-0 {
  margin: 0 0 0.2rem 0;
}

.mb-1 {
  margin: 0 0 1rem 0;
}
.mb-2 {
  margin: 0 0 2rem 0;
}
.mb-3 {
  margin: 0 0 3rem 0;
}
.mx-1 {
  margin: 0 0.5rem;
}
.mx-2 {
  margin: 0 1rem;
}
.mx-2 {
  margin: 0 2rem;
}
.my-1 {
  margin: 1rem;
}
.my-2 {
  margin: 2rem;
}
.my-3 {
  margin: 3rem;
}
.mt-3 {
  margin-top: 3rem;
}

.red {
  background: red;
}

.W-100 {
  width: 100%;
}
.W-80 {
  width: 80%;
}
.W-50 {
  width: 50%;
}
.W-30 {
  width: 30%;
}
.W-25 {
  width: 25%;
}
.text-h1 {
  font-size: 1.8rem !important;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}
.text-h3 {
  font-size: 0.8rem;
}

.nameDescripcion {
  font-weight: bold;
  color: var(--textWhite);
}
.nameTitle {
  font-size: 14px;
  color: var(--textblue);
}

.box-line {
  border-top: 2px solid var(--textWhite);
  padding-top: 1rem;
}
.box-line:hover {
  border-top: 2px solid var(--textOrange);
  padding-top: 1rem;
}

.bg-0{
  background-color: var(--background) !important;
}

/* Responsive Design */
@media (max-width: 768px) {
  .W-50 {
    width: 50%;
  }

  .W-25 {
    width: 25%;
  }
  .W-30 {
    width: 80%;
  }
}

/* Opcional: Estilo para los inputs */
input[type="date"] {
  outline: none; /* Elimina el contorno */
  width: 75px;
  background-color: var(--background);
  //padding: 5px;
  font-size: 8px;
  border: none;
  border-radius: 4px;
}

.textDate {
  font-size: 10px;
  width: 16px;
}

.btn-rango-1 {
  font-size: 12px;
  width: 50px;
  color: var(--textblue);
  margin-left: 1rem;
  padding: 0.4rem 0.2rem;
  background-color: var(--background);
  border-radius: 5px;
}
.btn-rango-1:hover {
  color: var(--textOrange);
}
.box-rango {
  background-color: var(--backgroundBoxSutil);
  //border: 1px solid var(--textWhite);
  padding: 0.4rem 0.2rem;
  border-radius: 5px;
}

.editColor-green{
  //background: var(--textGreen)
}
.editColor-orange{
  background: var(--textOrange)
}

.table-container {
  width: 100%;
  overflow-x: auto; /* Para scroll horizontal si es necesario */
}

.full-width-table {
  width: 96%;
  min-width: 96%; /* Fuerza el 100% incluso con contenido largo */
  border-collapse: collapse;
}