@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --backgroundBox: #242424;
  --backgroundSutil: #ffffff1a;
  --textblue: #3BAAFF;
  --textOrange: #F57B27;
  --textWhite: #ccc;
  --textError: #e01e09;
  --textBlack: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #050708;
    --foreground: #ededed;
    

  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
 
}

.font-sm{
  font-size: 10px;
}
.font-sl{
  font-size: 12px;
}
.font-sx{
  font-size: 14px;
}


