
.nav-principal{
    padding: 1rem;

}

.logo-principal{
    padding: 1rem;
}

/* Estilos adicionales */
.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
  }
  
  .nav-item {
    display: flex;
    align-items: center;
    padding: 0.25rem 1rem;
    margin: 0 0.5rem;
    gap: 0.5rem; /* Espaciado entre ícono y texto */
    border: 1px solid var(--backgroundSutil);
    background: var(--backgroundSutil);
    border-radius: 0 10px 0 10px;
    width: 7rem;
  }
  .nav-item:hover {
    border: 1px solid var(--textblue);
    background: var(--backgroundSutil);
  }
  .nav-item:hover .nav-link {
    color: var(--textOrange);
  }
  
  .nav-item span {
    color: var(--textblue);
  }
  .nav-item p {
    font-size: 0.875rem; /* Tamaño de texto pequeño */
    font-weight: 500;
    text-decoration: none;
    color: inherit;
  }
  
  
  .nav-link {
    font-size: 0.875rem; /* Tamaño de texto pequeño */
    font-weight: 300;
    text-decoration: none;
    color: inherit;
  }
  
  
  .altura-header{
    height: 5rem;
    border-bottom: 1px solid var(--backgroundSutil);
  }


  /* estilos historial*/

  .box-history{
    background-color: var(--backgroundSutil);
    margin: 1rem 0.5rem;;
    padding: 1rem;
    border-radius: 0.5rem;
  }

  /* Estilo para tablas */
.table-full {
  width: 100%; /* Tabla con ancho completo */
  border-collapse: collapse; /* Combina bordes */
}

.table-full thead {
  background-color: var(--backgroundBoxSutil); /* Fondo sutil para encabezado */
  color: var(--foreground); /* Texto del encabezado */
}

.table-full th {
  padding: 0.4rem; /* Espaciado interno */
  text-align: left; /* Alineación del texto */
  font-weight: bold;
  border-bottom: 1px solid var(--backgroundBox); /* Línea inferior */
}

.table-full td {
  padding: 0.4rem; /* Espaciado interno */
  border-bottom: 1px solid var(--backgroundSutil); /* Línea inferior */
}

.table-full tr:hover {
  background-color: var(--backgroundSutil); /* Fondo sutil al pasar el cursor */
}

/* Responsive Design para tabla */
@media (max-width: 768px) {
  .table-full {
    font-size: 12px; /* Reducir tamaño de fuente en pantallas pequeñas */
  }
}
