
.nav-principal{
    padding: 1rem;

}

.logo-principal{
    padding: 1rem;
}

/* Estilos adicionales */
.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
  }
  
  .nav-item {
    display: flex;
    align-items: center;
    padding: 0.25rem 1rem;
    margin: 0 0.5rem;
    gap: 0.5rem; /* Espaciado entre ícono y texto */
    border: 1px solid var(--backgroundSutil);
    background: var(--backgroundSutil);
    border-radius: 0 10px 0 10px;
    width: 7rem;
  }
  .nav-item:hover {
    border: 1px solid var(--textblue);
    background: var(--backgroundSutil);
  }
  .nav-item:hover .nav-link {
    color: var(--textOrange);
  }
  
  .nav-item span {
    color: var(--textblue);
  }
  .nav-item p {
    font-size: 0.875rem; /* Tamaño de texto pequeño */
    font-weight: 500;
    text-decoration: none;
    color: inherit;
  }
  
  
  .nav-link {
    font-size: 0.875rem; /* Tamaño de texto pequeño */
    font-weight: 300;
    text-decoration: none;
    color: inherit;
  }
  
  
  .altura-header{
    padding: 0 2rem;
    height: 5rem;
    border-bottom: 1px solid var(--backgroundSutil);
  }


  .edit-roles{
    //background-color: var(--backgroundSutil);
    margin: 1rem;
    padding: 1rem;
  }

  /* Estilos generales del formulario */
.form-role {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  //max-width: 400px;
  margin: 0 auto;
  padding: 1rem;
  border: 1px solid var(--backgroundBox);
  border-radius: 8px;
  background-color: var(--backgroundSutil);
}

/* Estilos para las etiquetas */
.label-role {
  font-weight: bold;
  color: var(--textWhite);
  margin-bottom: 0.5rem;
}

/* Estilos para los selects */
.select-role {
  width: 100%;
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid var(--backgroundBox);
  border-radius: 4px;
  background-color: var(--backgroundSutil);
  color: var(--textWhite);
  appearance: none; /* Oculta la flecha por defecto en algunos navegadores */
  outline: none;
  cursor: pointer;
}

/* Opciones dentro de los selects */
.option-role {
  background-color: var(--backgroundBoxSutil);
  color: var(--textWhite);
  padding: 0.5rem;
}

/* Botón para enviar el formulario */
.button-role {
  padding: 0.75rem;
  font-size: 1rem;
  font-weight: bold;
  color: var(--textWhite);
  border: 1px solid var(--textblue);
  //background-color: #007BFF; /* Azul */
  //border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button-role:hover {
  border: 1px solid var(--textOrange);
  color: var(--textOrange);
  //background-color: #0056b3; /* Azul oscuro al pasar el mouse */
}


 