/* General Styles */
.container {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.row {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
}
.row-1 {
  display: none;
}

/* Column Layout */
.colunma {
  display: flex;
  width: 100%;
}

.colunm-1 {
  flex: 0 0 15%;
  max-width: 15%;
  background-color: transparent; /* Example background */
  padding: 10px;
  box-sizing: border-box;
}

.colunm-2 {
  flex: 0 0 70%;
  max-width: 70%;
  background-color: transparent; /* Example background */
  padding: 10px;
  box-sizing: border-box;
}

.column-1 {
  flex: 1;
  background-color: transparent; /* Example background */
  padding: 10px;
  box-sizing: border-box;
}

/* Responsive Design */
@media (max-width: 768px) {
  .colunm-1 {
    display: none; /* Hide column-1 on small screens */
  }

  .colunm-2 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .row-1 {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
  }
}

.header-per {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  border-bottom: solid 1px #3bf507;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.navPer {
  width: 100%; /* Ajusta el ancho según sea necesario */
  //background-color: #f4f4f4; /* Fondo del menú */
  //border: 1px solid #ccc; /* Borde opcional */
  padding: 10px;
  border-radius: 8px; /* Bordes redondeados */
}



.navPer ul li {
  margin: 25px; /* Espacio entre elementos */
}

/* Estilo de los enlaces */
.linkPer {
  display: block; /* Hace que los enlaces ocupen todo el ancho */
  text-decoration: none;
  color: white; /* Color del texto */
  margin: 10px 15px; /* Espaciado interno */
  padding-left: 15px;

  //background-color: #eaeaea; /* Fondo de los enlaces */
  //border-radius: 5px; /* Bordes redondeados */
  transition: background-color 0.3s ease, color 0.3s ease;
}
.linkPer:hover {
  color: #84eb07;
  //background-color: #171616;
  border-left: 2px solid #41a31a;
}

.text-color-green {
  display: block; /* Hace que los enlaces ocupen todo el ancho */
  text-decoration: none;
  margin: 10px 15px; /* Espaciado interno */
  padding-left: 15px;
  color: #84eb07;
  border-left: 2px solid #41a31a;
}



/* General Styles for Navigation */
.navSecundario {
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--backgroundSutil);
    padding: 10px 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  .navSecundario ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
  }
  
  .navSecundario li {
    margin: 0 2px;
    //background-color: var(--background);
  }
  
  .navSecundario a {
    text-decoration: none;
    color: #ccc; /* Default text color */
    font-size: 14px;
    //transition: color 0.3s ease;
  }
  
  .navSecundario .text-color-green {
    color: green; /* Active link color */
  }
  
  .navSecundario a:hover {
    color: var(--textOrange);
    //padding-right: 6px;
  }

  .linkPer2 {
    display: block; /* Hace que los enlaces ocupen todo el ancho */
    text-decoration: none;
    color: white; /* Color del texto */
    margin: 10px 15px; /* Espaciado interno */
    padding: 5px 10px;
    //border-bottom: 2px solid var(--backgroundSutil);
    border-radius: 5px; /* Bordes redondeados */
    //transition: background-color 0.3s ease, color 0.3s ease;
  }
  .linkPer2:hover {
    background-color: #171616;
    //border-bottom: 1px solid var(--textOrange);
  }
  

  /* clases de dasboard pedidos*/

  .pedido{
    margin-bottom: 10px;
    padding: 7px;
    width: 100%;
    border: 1px solid var(--textWhite)
  }

  .pedido-col{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding-bottom: 15px;
    
  }
  .pedido-col-1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 10px;
    
  }


  .pedido-sub{
    display: flex;
    flex-direction: column;
    margin: 5px;
    padding: 5px;
    background-color: var(--backgroundSutil)
    
  }
  .pedido-sub strong{
    color: var(--textOrange)
  }

  .pedido-sub p{
    word-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .w-1{
    width: 80px;
    
  }
  .w-2{
    width: 120px;
    
  }
  .w-3{
    width: 100px;
    
  }
  .w-4{
    width: 150px;
    
  }

  .pedido-oculto{
    display: none;
  }

  .pedido-ul{
    margin-left: 30px;
    list-style-type: disc;
    
  }
  .pedido-box-list {
    background-color: var(--backgroundSutil);
    padding: 5px 10px;
    border-radius: 0 20px 0 0;
  }
  .pedido-button{
    color: var(--textblue);
    padding: 2px 5px;
  }
  .pedido-button:hover{
    padding: 2px 5px;
    background-color: var(--backgroundSutil);
    border-radius: 5px;
    cursor: pointer;
  }
  .button-nota{
    background-color: var(--background);
    color: var(--textblue);
    padding: 2px 5px;
  }
  .button-nota:hover{
    padding: 2px 5px;
    color: var(--textblue);
    background-color: var(--backgroundSutil);
    cursor: pointer;
  }
  .pedido-select{
    background-color: var(--background);
    border: none;
    outline: none;
  }
  .pedido-input option{
    color: var(--textOrange);
    border: none;
    outline: none;
  }
  .pedido-sub-button{
    width: 100px;
    margin: 5px;
    padding:0 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;
  }
  .pedido-botton{
    width: 100px;
    font-size: 12px;
    background-color: var(--textWhite);
    color: var(--background);
    font-weigth: bold;
    padding: 0 5px;
    border-radius: 5px;
    border: 1px solid var(--textWhite);
  }
  .pedido-botton:hover{
    background-color: var(--backgroundBox);
    color: var(--textblue);
    border: 1px solid var(--textblue);
    cursor: pointer;
  }
  .notas-center{
    padding: 0 10px;
  }




  /*barra de progreso*/

  
/* Contenedor de la barra de progreso */
.progress-bar-container {
  width: 100%;
  height: 17px;
  //border: 1px solid #ccc;
  //border-radius: 5px;
  position: relative;
  background-color: var(--backgroundSutil); /* Fondo gris claro */
}

/* Barra de progreso que se actualiza dinámicamente */
.progress-bar {
  width: 100%;
  height: 100%;
  max-width: 100%;
  transition: width 0.5s ease-in-out;
}

/* Leyenda dentro de la barra de progreso */
.progress-bar-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  //color: var(--textblue);
  font-size: 12px;

}

/* Colores de la barra según el progreso */
.progress-bar-green {
  background-color: var(--textGreen);
}

.progress-bar-yellow {
  background-color: var(--textYellow);
}

.progress-bar-red {
  background-color: var(--textRed);
  
}

/*tabla notas*/

.pedido-table-notas{
  display: flex;
  flex-direction: colunm;
  padding: 10px;
  background-color: var(--backgroundSutil);
  border-radius: 0 30px 0 0;
  margin: 5px;
}

.nota-label{
  font-size: 14px;
  margin: 0 10px;
}
.pedido-col textarea{
  width: 70%;
  padding: 0 10px;
  font-size: 14px;
  background-color: var(--backgroundSutil);
  resize: none;
}
textarea:focus{
  outline: none;
}


table {
  margin: 5px 10px auto; /* Centra la tabla horizontalmente */
  border-collapse: collapse; /* Elimina el espacio entre celdas */
  width: 80%; /* Ajusta el ancho según sea necesario */
  background-color: transparent; /* Fondo transparente */
  font-family: Arial, sans-serif;
  text-align: center; /* Centra el texto en las celdas */
}

thead {
  background-color: var(--background); /* Fondo claro para el encabezado */
}

th, td {
  font-size: 14px;
  border: 1px solid #ccc; /* Borde cuadriculado */
  padding: 3px 10px; /* Espaciado interno */
}

th {
  font-weight: bold; /* Texto en negrita para encabezados */
}

tbody tr:nth-child(odd) {
  background-color: rgba(0, 0, 0, 0.05); /* Fila impar con un fondo sutil */
}

tbody tr:nth-child(even) {
  background-color: rgba(0, 0, 0, 0.1); /* Fila par con un fondo más intenso */
}

tbody tr:hover {
  background-color: rgba(0, 128, 255, 0.2); /* Efecto hover en las filas */
  cursor: pointer; /* Cambia el cursor al pasar por encima */
}

.w-15{
  width: 15%;
}
.w-75{
  width: 75%;
}

.lista-notas {
  //border: 1px solid red;
  list-style: none; /* Elimina los puntos predeterminados */
  padding: 0;
  margin: 5px 5px 10px 10px;
  display: flex; /* Hace que la lista sea horizontal */
  flex-direction: column;
  flex-wrap: wrap; /* Permite que los elementos pasen a la siguiente línea si es necesario */
  gap: 10px; /* Espaciado entre elementos */
}

.nota-item {
  display: flex;
  align-items: center;
  gap: 5px; /* Espacio entre el punto y el contenido */
  background: var(--backgroundSutil); /* Usa el color de fondo sutil */
  padding: 5px 10px;
  border-radius: 5px; /* Bordes redondeados */
}

.nota-punto {
  color: var(--textOrange); /* Color para el punto */
  font-size: 20px;
}

.nota-contenido {
  color: var(--textWhite); /* Color del texto */
  font-size: 14px;
}



/* Definimos la animación */
@keyframes fadeIn {
  from {
    opacity: 0; /* Comienza completamente transparente */
    transform: translateY(10px); /* Opcional: ligeramente más abajo */
  }
  to {
    opacity: 1; /* Termina completamente visible */
    transform: translateY(0); /* Posición final */
  }
}

/* Aplicamos la animación al div */
.fade-in {
  opacity: 0; /* Asegura que esté invisible antes de la animación */
  animation: fadeIn 2s ease-in forwards; /* 1s de duración, suavizado "ease-in" */
}


/* FilterBar.css */
.filter-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  padding: 0.3rem;
  margin-bottom: 0.7rem;
  background-color: var(--backgroundSutil);
}

.filter-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding:  0.2rem 0.1rem ;
  cursor: pointer;
  transition: transform 0.2s ease, color 0.2s ease;
}
.filter-item-focus {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: transform 0.2s ease, color 0.2s ease;
  padding: 0.2rem 0.1rem;
  background: var(--background);
  border-radius: 0.3rem;
}

.filter-item:hover {
  transform: scale(1.1);
  color: #007bff;
}

.filter-icon {
  font-size: 1rem;
  margin-bottom: 0.2rem;
  color: var(--textblue);
}

.filter-name {
  font-size: 0.6rem;
  font-weight: 500;
  color: var(--textWhite);
}
